.features {
  display: flex;
  justify-content: space-between;
  flex-basis: 270px;
  gap: 30px;
  margin-bottom: 50px;

  &__icon-container {
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--gray-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-text-color);
    margin-top: 30px;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
  }
}
